/* application/src/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .login-header {
    text-align: center;
  }
  
  .logo {
    width: 120px;
    margin-bottom: 10px;
  }
  
  h1 {
    color: #003366; /* Azul oscuro */
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .input-jwt {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #003366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #002244; /* Más oscuro */
  }
  
  .message {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
  }
  
  .success {
    color: #2f8f22; /* Verde éxito */
    background-color: #e0f5e0;
  }
  
  .error {
    color: #d9534f; /* Rojo error */
    background-color: #f9e0e0;
  }
  